
body {
  background-color: rgb(37, 150, 190);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-color: orange;
  border-radius: 10px;
  border: 4px solid rgb(224, 244, 247);;
}
